.itemCard{
    width: 24rem;
    box-shadow: 0 0.2rem 13px 4px #1d212461;
    cursor: pointer;
}

.itemCard:hover{
    box-shadow: 0 0.2rem 13px 7px #1d212461;
}

.itemCard__img{
    /* margin: 10px; */
    padding: 10px;
    height: 300px;
    object-fit: contain;
}
.itemCard__title{
    height: 30px;
    text-align: center;
}

.itemCard__text{
    overflow-y: hidden;
    height: 196px;
}